<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=initial-scale=1.0">
    <title>Color Runing</title>
    <link rel="stylesheet" href="{%static 'games/colorun/color.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,900">
</head>
<!--design by https://www.behance.net/vahanhovh
        -->
        <body>

        <div id="back">ROTATE SCREEN TO PLAY</div>
        <div id="whitebar"></div>
        <div class="splash"></div>
        <div class="container">
        
                    <div class="start-game game-full-flex" id="start-game">
                        
                        <div class="start-game-top"><a class="play-full-page" href="https://codepen.io/gregh/full/yVLOyO/"  target="_blank">Full Page Mode</a></div>    
        
                        <div class="logo-holder">
                            <p class="logo">
                                <span>C</span>
                                <span>o</span>
                                <span>l</span>
                                <span>o</span>
                                <span>r</span>
                                <span>u</span>
                                <span>n</span>
                            </p>
                            <a class="play-button" href="#" onclick="check()">Play</a>
                            <h4 class="hint">HINT: <span>red</span> color always comes first</h4>
                        </div>
        
                        <div class="how-to-play">
                            <div class="section section-1">
                              <h4><b>Bouncing ball<br>changes color</b></h4>
                                <div class="content">
                                    <div class="ball-demo" id="ball-demo"></div>
                                </div>
                            </div>
                            <div class="section section-2">
                              <h4><b>Tap on the bar to switch the colors<br>(Cyan,Black,Red, Yellow, Purple)</b>
                              <p style="color:purple;font-size:18px;"><b>Make it to the fifth bar and start making <br>The equevelent % of your stakings</b></p>
                              </h4>
                                <div class="content">
                                    <div class="bar bar-1" data-index="0"></div>
                                    <div class="bar bar-2"></div>
                                    <div class="bar bar-3"></div>
                                </div>
                            </div>
                            <div class="section section-3">
                              <h4><b>Always match the<br>ball and bar colors</b></h4>
                                <div class="content">
                                    <div class="ball-demo" id="ball-demo"></div>
                                    <div class="bar bar-1"></div>
                                </div>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="stop-game game-full-flex">
        
                        <div class="score-container">
        
                            <h1>Colorun</h1>
        
                            <div class="final-score"></div>
                          
                            <br>
                            <div class="result"></div>
                            
                            <br><br>
                          
                            <div>
                                <a class="play-again" href="#" onclick="check()">Play Again</a>
                                <a class="main-menu" href="#" onclick="game.intro()">Menu</a>
                            </div>
        
                        </div>
        
                    </div>
        
                    <div class="small-glows"></div>
        
                    <div class="glow"><div class="sun"></div></div>
        
                    <div class="waves">
                        <div class="top_wave"></div>
                        <div class="wave1"></div>
                        <div class="wave2"></div>
                        <div class="wave3"></div>
                        <div class="wave4"></div>
                    </div>
        
                    <div class="mounts">
                        <div class="mount1"></div>
                        <div class="mount2"></div>
                    </div>
        
                    <div class="clouds"></div>
        
                    <div class="scene">
                        <div class="learn-to-play">Click on the bars to change the color</div>
                        <div class="score" id="score"></div>
                        <div class="ball-holder"></div>
                        <div class="sticks" id="sticks"></div>
                    </div>
        
                    <div class="noise"></div>
        
                </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    
<script src="{%static 'games/colorun/color.js'%}"></script>

<script>
function check(){
    window.stakeAmount = prompt("stake to play")
    //this.stop(); // stop the game
    if (isNaN(window.stakeAmount)){
        alert('Must be a number!')
             window.location.reload(true)
        }
    else if (window.stakeAmount > 0){
      $.post( "/games/user/account/", 
      { csrfmiddlewaretoken: csrftoken , 
        other_params: JSON.stringify('')
      },  
      function(data) {
          if(data.main >= window.stakeAmount){ // meaning that everyhting went ok
             game.start()
           }
          else{
             alert('Your account is lower than staked ammount')
             // do your redirect
          }
     });
    } else if(window.stakeAmount === null){
        alert('Must stake to play')
        window.loction.reload(true)
    }
    else if(window.stakeAmount ==0){
        alert('not 0 please')
        window.loction.reload(true)
    }
}
</script>
    
</body>
</html>