{%extends 'main_games_base.html'%}
{%load static%}
{%block content%}
<link rel="icon" type="image/x-icon" href="{%static 'users/games/Tower/assets/favicon.png'%}">
<link rel="stylesheet" href="{%static 'users/games/Tower/main.css'%}">
<!-- CSS only -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> -->

<canvas id="canvas" class="hide"></canvas>
  <div class="content">
    <div class="loading">
      <div class="main"><img src="{%static 'users/games/Tower/assets/main-loading.gif'%}">
        <div class="progress">
          <div class="title font-wenxue">0%</div>
          <div class="bar">
            <div class="sub">
              <div class="percent"></div>
            </div>
          </div>
          <div class="text">Loading...</div>
        </div>
      </div>
      
    </div>
    
    <div class="landing hide">
      <div class="action-1"><img src="{%static 'users/games/Tower/assets/main-index-title.png'%}" class="title swing"></div>
      <div class="action-2"><img id="start" src="{%static 'users/games/Tower/assets/main-index-start.png'%}" class="start"></div>
    </div>
    
    <div id="modal" class="modal hide">
      <div class="mask">
        
      </div>
      <div class="js-modal-content modal-content">
        <div class="main">
          
          <div class="container"><img src="{%static 'users/games/Tower/assets/main-modal-bg.png'%}" class="bg">
            <div class="modal-main">
              <div id="over-modal" class="hide js-modal-card"><img src="{%static 'users/games/Tower/assets/main-modal-over.png'%}" class="over-img">
                <div id="score" class="over-score font-wenxue" style="display: none;"></div>
                <div id="over-zero" class="hide">
                  <div class="tip">
                    <p>Try Again!</p><img src="{%static 'users/games/Tower/assets/main-modal-again-b.png'%}" class="over-button-b js-reload"><img
                      src="{%static 'users/games/Tower/assets/main-modal-invite-b.png'%}" class="over-button-b js-invite">
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
 </div>
    <div class="wxShare hide"><img src="{%static 'users/games/Tower/assets/main-share-icon.png'%}"></div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="{%static 'users/games/Tower/dist/main.js'%}"></script>
  <script src="{%static 'users/games/Tower/assets/zepto-1.1.6.min.js'%}"></script>
  <script>
 
  
  var domReady, loadFinish, canvasReady, loadError, gameStart, game, score, successCount
    //get csrf token
    

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');

    // init window height and width
    var gameWidth = window.innerWidth
    var gameHeight = window.innerHeight
    var ratio = 1.5
    if (gameHeight / gameWidth < ratio) {
      gameWidth = Math.ceil(gameHeight / ratio)
    }
    $('.content').css({ "height": gameHeight + "px", "width": gameWidth + "px" })
    $('.js-modal-content').css({ "width": gameWidth + "px" })

    // loading animation
    function hideLoading() {
      if (domReady && canvasReady) {
        $('#canvas').show()
        loadFinish = true
        setTimeout(function () {
          $('.loading').hide()
          $('.landing').show()
        }, 1000)
      }
    }

    function updateLoading(status) {
      var success = status.success
      var total = status.total
      var failed = status.failed
      if (failed > 0 && !loadError) {
        loadError = true
        alert('Network error... Please try again.')
        return
      }
      var percent = parseInt((success / total) * 100);
      if (percent === 100 && !canvasReady) {
        canvasReady = true
        hideLoading()
      }
      percent = percent > 98 ? 98 : percent
      percent = percent + '%'
      $('.loading .title').text(percent);
      $('.loading .percent').css({
        'width': percent
      })
    }

    function overShowOver() {
      setTimeout(function () {
      $('#modal').show()
      $('#over-modal').show()
      $('#over-zero').show()
        }, 1000)
      
    }

    // game customization options
    const option = {
      width: gameWidth,
      height: gameHeight,
      canvasId: 'canvas',
      soundOn: true,
      setGameScore: function (s) {
        score = s
      },
      setGameSuccess: function (s) {
        successCount = s
        const url = "/games/tower/building/"
        if(s >= 10){
            var amount = window.stakeAmount
            let status = "success"
            let  points= s*5
            fetch(url,{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFtoken':csrftoken,
                },
                body:JSON.stringify({"amount": amount,"status": status,'points':points})
            });
           // setTimeout(() => {
             //   location.reload(true);
            // }, 3000);
            } //alert(`hell you gain${window.stakeAmount}`)
      },
      setGameFailed: function (f) {
        $('#score').text(score)
        var my_scores = document.getElementById('score').innerHTML
        if (f >= 3) { 
        if(successCount < 10 ){
          let url_to = "/games/tower/building/"
            var amounts = window.stakeAmount
            let status = "failed"
            fetch(url_to,{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFtoken':csrftoken,
                },
                body:JSON.stringify({"amount": amounts,"status": status,'points':'null'})
            });
          }
        overShowOver()
 
        }
      }
    }

    // game init with option
    function gameReady() {
      game = TowerGame(option)
   
      game.load(function () {
        game.init()
        setTimeout(function () {
        window.stakeAmount = prompt("stake an amount to play")
        console.log(window.stakeAmount)
if (isNaN(window.stakeAmount)){
  alert('Must be a number!')
             window.location.reload(true)
}
else if (window.stakeAmount > 0){
      $.post( "/games/user/account/", 
      { csrfmiddlewaretoken: csrftoken , 
        other_params: JSON.stringify('')
      },  
      function(data) {
          if(data.main >= window.stakeAmount){ // meaning that everyhting went ok
            game.playBgm()          
           }
          else{
             alert('Your account is lower than staked ammount')
             window.location.reload(true)
             // do your redirect
          }
     });
    }
    else if (window.stakeAmount === null){
      window.location.reload(true)
    }
    else if (window.stakeAmount == 0){
      alert('Not 0 please!')
      window.location.reload(true)
    }
       
        })      }, updateLoading)
    }

    var isWechat = navigator.userAgent.toLowerCase().indexOf("micromessenger") !== -1
    if (isWechat) {
      document.addEventListener("WeixinJSBridgeReady", gameReady, false)
    } else {
      gameReady()
    }

    function indexHide() {
      $('.landing .action-1').addClass('slideTop')
      $('.landing .action-2').addClass('slideBottom')
      setTimeout(function () {
        $('.landing').hide()
      }, 950)
    }

    // click event
    $('#start').on('click', function () {
      if (gameStart) return
      gameStart = true
      setTimeout(function () {
        game.playBgm()
      })
      indexHide()
      setTimeout(game.start, 400)
    })

    $('.js-reload').on('click', function () {
      window.location.href = window.location.href + '?s=' + (+new Date())
    })

    $('.js-invite').on('click', function () {
      $('.wxShare').show()
    })

    $('.wxShare').on('click', function () {
      $('.wxShare').hide()
    })

    // listener
    window.addEventListener('load', function () {
      domReady = true
      hideLoading()
    }, false);</script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YCWZ8ZDCH2"></script>
  <script>function gtag() { dataLayer.push(arguments) } window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "G-YCWZ8ZDCH2")</script>
{%endblock content%}