{% extends 'mainapp/base.html'%}
{%load static%}
{%block content%}
	<!-- Breadcrumb Area Start -->
	<section class="breadcrumb-area about">
		<img class="bc-img" src="{%static 'mainapp/assets/images/breadcrumb/about.png'%}" alt="">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="title">
						About Us
					</h4>
					<ul class="breadcrumb-list">
						<li>
							<a href="{%url 'home'%}">
									<i class="fas fa-Home "></i>
									Home 
							</a>
						</li>
						<li>
							<span><i class="fas fa-chevron-right"></i> </span>
						</li>
						<li>
							<a href="">About MET</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Area End -->

	<!-- About page section Area Start -->
	<section class="about-page-section">
			<div class="container">
				<div class="row">
					<!-- <div class="col-lg-6 d-flex align-self-center">
						<div class="about-video">
							<img src="{%static 'mainapp/assets/images/about-video-bg.jpg'%}" alt="">
							<a href="https://www.youtube.com/watch?v=oj40TQirhss" class="play-video mfp-iframe">
								<img src="{%static 'mainapp/assets/images/play-icon-red.png'%}" alt="">
							</a>
						</div>
					</div> -->
					<div class="col-lg-6">
						<div class="section-heading">
							
							<h4 class="title">
									About Met
							</h4>
							<p class="text">
								<embed>
								<blockquote>
<p>The MET Community is one marketing platform among few to navigate global financial markets and explore a bouquet of exquisitely crafted services and solutions curated to educate, promote and lead the community towards achieving financial freedom. The home and the benchmark of new opportunities targeted to the blockchain that is always ahead of the curve and is supported by an elaborate team dedicated to your ambition and your success.
</p>
<p class="mybtn1">The MET Community Revolution</p>
<p>
	Since our inception in January 2022, MET network have been able to build a massive community of over 5.2milion active members within a space of one year and is growing by the blink of an eye as we scale greater heights every single day. And, we like to believe that this is only the very beginning of an incredible journey that await us and our community us our team have their all hints on decks working towards day success and benefit of our customers. 
<p>MET network place the interest of our community at the heart of the business. This is where the community takes charge and follows these delineated set of actions as they inch a step closer to becoming a part of our constantly growing family.
</p>
<p>MET network provide a trusted and easy to navigate services through our profound activity such as; 
locking up your MET coin to enable ease assess for the traders to transact with on several platforms in which we have made met coin eligibility for use and getting USDT in return.
Trading met coin at several intervals laid out of a deep sense of reasoning and committed studies on the system by our reliable team of experts. This is targeted towards improving the value of the MET coin by building its potential to achieve it creation purpose which is to be generally accepted as a means of exchange and for the benefit of it holders and of the world at large.
Further activity on the MET network includes staking and playing games for MET coin in return.</p>
It is important to know and take advantage of the amazing lottery system provided by the MET network for her committed members where they Stake MET coin and choose a number from a set of 50 numbers to get ×5 of your stake when the system automatically select your number after 24 hours.

in addition, We have designed a free 100 USDT worth of MET coin jackpot for the top 50 most active METner  which would be climbed after receiving the email as a lucky beneficiary.</p>
<hr >
<hr style="background-color: rgb(15, 119, 119);">
								</blockquote>
							</p>
						
						
							

							<hr>
							<p class="mybtn1">WHY YOU SHOULD BELIEVE IN US</p>
								<p>The Universe of Finance and Economics refuse to rest and neither do we at MET network. When we say we keep up, we really do keep up! Our experts work tirelessly round the clock to keep you up-to-date with the latest strategies in the general Market especially that on The blockchain, particularly on the MET network.

									A Multicultural, and Multilingual Network, A global conglomerate, the MET network has now touched over 18 countries and employees speaking several different languages to support this remarkable expansion.
									
									operates on it’s first keystone of simplicity. We ensure the perfect recipe of assured success as we bring our expertise to every table while always keeping you on the loop. We repeatedly apply the right strategies and share our know-hows with everyone in our humongous community.
									</p>

						</div>
					</div>
				</div>
			</div>
	</section>
	<!-- About page section Area End -->

	<!-- Our Vision Area Start -->
	<section class="our-vision">
			<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-10">
						<div class="section-heading">
							<h5 class="subtitle">
									Take a look 
							</h5>
							<h2 class="title">
									Our vision
							</h2>
							<p class="text">
									We create long term value for our partners by putting innovations, data and sustainability at the very heart of the Network.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-vision">
								<div class="icon one">
									<img src="{%static 'mainapp/assets/images/vision/icons6.png'%}" alt="">
								</div>
								<div class="content" style="color: azure;">
									<h4 class="title" style="color: azure;">
										Get Stronger
									</h4>
									<p class="text">
										<p>Understand each of the vast arrays of tools and execute strategies to the best of your advantage.</p>

									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-vision">
								<div class="icon two">
									<img src="{%static 'mainapp/assets/images/vision/icon2.png'%}" alt="">
								</div>
								<div class="content">
									<h4 class="title" style="color: azure;">
										Get Rewarded
									</h4>
									<p class="text">
										<p href="" class="mybtn1">Get Inspired</p>

									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-vision">
								<div class="icon three">
									<!-- <img src="assets/images/vision/icon3.png" alt=""> -->
								</div>
								<div class="content">
									<h4 class="title" style="color: azure;">
										Get Inspired
									</h4>
									<p class="text">
							<p>People follow people. The beauty of this community lies in it’s power of expansion beyond our imagination
								Stay up-to-the-minute with the World of Finance that trigger informed decisions as our global team of experts bring you curated topics, sought-after articles, ground-breaking opinions and life-changing advise. Whether you just joined the Community or are claiming a veteran status - we have something for everyone.
								</p>
									</p>
								</div>
							</div>
						</div>
					</div>
			</div>
	</section>
	<!-- Our Vision Area End -->


	<!-- Features Area Start -->
	<section class="features about-page">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10">
					<div class="section-heading">
						<h5 class="subtitle">
						an exhaustive list of 
						</h5>
						<h2 class="title">
								Amazing features
						</h2>
						<p class="text">
								It’s up to the competition in features, with some unique 
								advantages.All the latest crypto games.Here are some of them.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="feature-box">
						<div class="feature-box-inner">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="single-feature landscape">
										<div class="icon one">
											<img src="{%static 'mainapp/assets/images/feature/icons6.png'%}" alt=""> 
										</div>
										<div class="content">
											<h4 class="title">
												Exclusive Bonuses
											</h4>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="single-feature landscape">
										<div class="icon three">
											<img src="{%static 'mainapp/assets/images/feature/payout.png'%}" alt="">
										</div>
										<div class="content">
											<h4 class="title">
													Instant Payout
											</h4>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="single-feature landscape">
										<div class="icon two">
											<img src="{%static 'mainapp/assets/images/feature/icon2.png'%}" alt="">
										</div>
										<div class="content">
											<h4 class="title">
												Provably Fair
											</h4>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="single-feature landscape">
										<div class="icon two">
											<img src="{%static 'mainapp/assets/images/feature/security.png'%}" alt="">
										</div>
										<div class="content">
											<h4 class="title">
													Secure Trading
											</h4>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="single-feature landscape">
										<div class="icon three">
											<img src="{%static 'mainapp/assets/images/feature/reward.png'%}" alt="">
										</div>
										<div class="content">
											<h4 class="title">
												Reward
											</h4>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="single-feature landscape">
										<div class="icon four">
											<img src="{%static 'mainapp/assets/images/feature/icon3.png'%}" alt="">
										</div>
										<div class="content">
											<h4 class="title">
													24/7 Support
											</h4>
											<a href="{%url 'contact'%}" class="link">read more <i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Features Area End -->
	{%endblock content%}
