<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Met.net.rev.com</title>
	<!-- favicon -->
	<link rel="shortcut icon" href="{%static 'mainapp/assets/images/metcoin.png'%}" type="image/x-icon">
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="{%static 'mainapp/assets/css/bootstrap.min.css'%}" >
	<!-- Plugin css -->
	<link rel="stylesheet" type="text/css" href="{%static 'mainapp/assets/css/plugin.css'%}">
	<!-- stylesheet -->
	<link rel="stylesheet" type="text/css" href="{%static 'mainapp/assets/css/style.css'%}">
	<!-- responsive -->
	<link rel="stylesheet" type="text/css" href="{%static 'mainapp/assets/css/responsive.css'%}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
	<!-- preloader area start -->
	<div class="preloader" id="preloader">
		<div class="loader lds-ripple ">
			<div class="lds-pos"></div>
				<div class="lds-pos"></div>

			
		</div>
	</div>
	<!-- <div class="preloader">

	 preloader area end -->

	<!-- Header Area Start  -->
	<header class="header">
		<!-- Top Header Area Start -->
		<section class="top-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="content">
							<div class="left-content">
								<ul class="left-list">
									<!-- <li>
										<p>
											<a href="mailto:stakegams@gmail.com"><i class="fas fa-envelope"></i></a>
										</p>
									</li>
									<li>
										<div class="language-selector">
											<select name="language" class="language">
												<option value="1">English</option>
												<option value="2">France</option>
												<option value="3">Japan</option>
											</select>
										</div>
									</li> -->
								</ul>
							</div>
							<div class="right-content">
								<ul class="right-list logins">

									{%if request.user.is_superuser%}
									<li>

												<a href="{%url 'dashboard'%}" class="sign-in"  >
													<i class="fas fa-user"></i>
												</a>

									</li>
									{%endif%}
									<li> {%if request.user.is_authenticated%}
										<a href="{%url 'logout'%}" class="sign-in"  >
											<i class="fas fa-user"></i> Logout
										</a>
										{%else%}
										<a href="{%url 'login'%}" class="sign-in" data-toggle="modal" data-target="#login">
											<i class="fas fa-user"></i> LogIn
										</a>

										{%endif%}
									</li>
									<style>
										.logins{
											background-image: linear-gradient(to left, #ff344d, #d2273c);
										    border-radius: 32px;
											font-size: 12px;
											color:#fff
										}

									</style>
									<li>
									<a data-v-a313b4ea="" href="{%url 'register'%}" class="sign-in" data-toggle="modal" data-target="#signin"><i class="fas fa-user"></i>Register</a>

									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Top Header Area End -->

		<!--Main-Menu Area Start-->
		<div class="mainmenu-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<nav class="navbar navbar-expand-lg navbar-light">
							<a class="navbar-brand" href="">
								<img src="" alt="">
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu"
								aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse fixed-height" id="main_menu">
								<ul class="navbar-nav ml-auto">
									<li class="nav-item ">
										{%if home%}
										<a class="nav-link active " href="{%url 'home'%}"  role="button" data-toggle="" aria-haspopup="true"
											aria-expanded="false">
											Home
										<div class="mr-hover-effect"></div>
										</a>
										{%else%}
										<a class="nav-link" href="{%url 'home'%}"  role="button" data-toggle="" aria-haspopup="true"
											aria-expanded="false">
											Home
										<div class="mr-hover-effect"></div>
										</a>
										{%endif%}
										<!-- <ul class="dropdown-menu" >
											<li><a class="dropdown-item" href="{%url 'home'%}"> <i class="fa fa-angle-double-right"></i>Home  </a></li>
										</ul> -->
									</li>
									
									<li class="nav-item">
										{%if lot%}

										<a class="nav-link active" href="{%url 'lot'%}">Met lottery
											<div class="mr-hover-effect"></div></a>
											{%else%}
										<a class="nav-link" href="{%url 'lot'%}">Met lottery
										<div class="mr-hover-effect"></div></a>
											{%endif%}
									</li>
									<li class="nav-item">
										{%if turn%}
										<a class="nav-link active " href="{%url 'trade_met'%}" >
											Met Trading
										<div class="mr-hover-effect"></div>
										</a>
										{%else%}
										<a class="nav-link" href="{%url 'trade_met'%}" >
											Met Trading
										<div class="mr-hover-effect"></div>
										</a>
										{%endif%}
									</li>
									<li class="nav-item">
										{%if contact%}
										<a class="nav-link active" href="{%url 'contact'%}">Contact
											<div class="mr-hover-effect"></div>
										</a>
										{%else%}
										<a class="nav-link" href="{%url 'contact'%}">Contact
											<div class="mr-hover-effect"></div>
										</a>
										{%endif%}
									</li>
								</ul>
								{%if request.user.is_authenticated%}
								<a href="{%url 'wallet'%}" class="mybtn1"  data-toggle="" data-target="">Wallet</a>
									{%else%}
									<a href="{%url 'register'%}" class="mybtn1"  data-toggle="" data-target="">Create account</a>

									{%endif%}
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!--Main-Menu Area Start-->
	</header>
	<!-- Header Area End  -->
		<style>
			.customAlert {
			display: none;
			position: fixed;
			max-width: 25%;
			min-width: 250px !important;
			min-height: 20%;
			height: 355px;
			left: 50%;
			top: 50%;
			padding: 10px;
			box-sizing: border-box;
			margin-left: -12.5%;
			margin-top: -5.2%;
			background: #088a68;
		}

		@media all and (max-width: 1300px) {
			.messagez {
			font-size: 14px !important;
			}
			input[type="button"] {
			height: 15% !important;
			}
		}
		@media all and (max-width: 570px) {
			.messagez {
			font-size: 14px !important;
			}
			input[type="button"] {
			height: 10% !important;
			}

			.customAlert{
				left: 28%;
			}
		}
		.messagez {
			padding: 5px;
			color: white;
			font-size: 14px;
			line-height: 20px;
			text-align: justify;
		}
		</style>
	<!-- Hero Area Start -->
	{%for message in messages%}

	<script>
		const audio = new Audio(src='/static/mainapp/assets/alerts/beep_short_off.wav')
		audio.play()
		
		window.alert('{{message}}')
	</script>

	{%endfor%}


    {%block content%}

    {%endblock content%}

	<!-- Footer Area Start
	<!-- Back to Top Start -->
	<div class="bottomtotop">
		<i class="fas fa-chevron-right"></i>
	</div>
	<!-- Back to Top End -->
	<footer class="footer" id="footer">
		<div class="subscribe-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="subscribe-box">
							<form action="{%url 'sub'%}" method="post">
								<div class="row">
								<div class="col-lg-12">
									<div class="heading-area">
										<h5 class="sub-title">
												subscribe to Melt
										</h5>
										<h4 class="title">
												To Get Exclusive Benefits
										</h4>
									</div>
								</div>
								<div class="col-lg-3 col-4 d-flex align-self-center">
									<div class="icon">
										<img src="{%static 'mainapp/assets/images/mail-box.png'%}" alt="">
									</div>
								</div>
								<div class="col-lg-6 col-8 d-flex align-self-center">
									<div class="form-area">
											<input type="text" name = "email" placeholder="Your Email Address">
									</div>
									{%csrf_token%}
								</div>
								<div class="col-lg-3 d-flex align-self-center">
									<div class="button-area">
										<button class="mybtn1" type="submit">Subscribe
											<span><i class="fas fa-paper-plane"></i></span>
										</button>
									</div>
								</div>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="copy-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<div class="left-area">
							<p>Copyright © 2021 <a href="">Met</a>
							</p>
						</div>
					</div>
					<div class="col-lg-7">
						<ul class="copright-area-links">
							<li>
								<a href="{%url 'terms'%}">Terms Of Use</a>
							</li>

							<li>
								<a href="{%url 'contact'%}">Help Center</a>
							</li>
							<li>
								<a href="{%url 'about'%}">About Us </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Area End -->



	<!-- Login Area Start -->
	<div class="modal fade login-modal" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="" alt="">
					</div>
					<div class="header-area">
						<h4 class="title">Welcome</h4>
						<p class="sub-title">Enter your details below.</p>
					</div>
					<div class="form-area">
						<form action="{%url 'login'%}"  method="post">
							<div class="form-group">
									<label for="login-input-email" >Email*</label>
									{%csrf_token%}
									<input type="text" name = 'username' class="input-field" id="login-input-email"  placeholder="Enter your Username OR Email">
							</div>
							<div class="form-group">
									<label for="login-input-password">Password*</label>
									<input type="password" name = 'password' class="input-field" id="login-input-password"  placeholder="Password">
							</div>
							<div class="form-group">
								<div class="box">
									<div class="left">
											<input type="checkbox" class="check-box-field" id="input-save-password" checked>
										<label for="input-save-password">Remember Password</label>
									</div>
									<div class="right">
										<a href="{%url 'password_reset'%}">
											Forgot Password?
										</a>
									</div>
								</div>
							</div>
							<div class="form-group">
								   <button type="submit" class="mybtn1">Log In</button>
							</div>
						</form>
					</div>
					<div class="form-footer">
						<p>Not a member?
							<a href="#signin"  data-toggle="modal" data-target="#signin">Create account <i class="fas fa-angle-double-right"></i></a>
						</p>
					</div>

				</div>
			</div>
			</div>
		</div>
		<!-- Login Area End -->

		<!-- SignIn Area Start -->
		<div class="modal fade login-modal sign-in" id="signin" tabindex="-1" role="dialog" aria-labelledby="signin" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered " role="document">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="modal-body">
						<div class="logo-area">
							<img class="logo" src="" alt="">
						</div>
						<div class="header-area">
							<h5 class="title">Become a <b style="color: aqua;">METner</b>!</h5>
							<small class="sub-title">User Registration</small>
						</div>
						<div class="form-area">
							<form action="{%url 'register'%}"  method="post">
								<div class="form-group">
									<label for="login-input-email" >Username*</label>
									<input type="text" name = 'username' class="input-field" id="login-input-email"  placeholder="Choose a unique Name ">
								</div>
								<div class="form-group">
									<label for="login-input-email" >Email*</label>
									{%csrf_token%}
									<input type="email" name = 'email' class="input-field" id="login-input-email"  placeholder="Enter Email">
								</div>
								<div class="form-group">
									<label for="input-password">Password*</label>
									<input type="password" name = 'password' class="input-field" id="input-password"  placeholder="Password">
								</div>
								<div class="form-group">
									<label for="input-con-password">Confirm Password*</label>
									<input type="password" name = 'password2' class="input-field" id="input-password"  placeholder="Password">
							</div>
								{%if ref is not None%}
								<div class="form-group">
									<label for="login-input-email" >Referral</label>
								<input type="number" name="ref" class="input-field" placeholder="Ref[optional]" value="{{ref}}">
								</div>
								{%else%}
								<!-- <input type="number" name="ref" placeholder="Ref[optional]" > -->
								{%endif%}
								<div class="form-group">
									<div class="box">
										<div class="check-group">
											<input type="checkbox" class="check-box-field" id="input-terms" checked>
											<label for="input-terms">
													I agree with <a href="{%url 'terms'%}" style="color: aqua;">terms and Conditions</a> and  <a href="{%url 'terms'%}"  style="color: aqua;">privacy policy</a>
											</label>
										</div>

									</div>
								</div>
								<div class="form-group">
									   <button type="submit" class="mybtn1"><small>Create Wallet</small></button>
								</div>
							</form>
						</div>
					</div>
				</div>
				</div>
			</div>
		<!-- SignIn Area End -->

	<!-- jquery -->
	<!-- <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->

    <script src="{%static 'mainapp/assets/js/jquery.js'%}"></script>
	<!-- popper -->
	<script src="{%static 'mainapp/assets/js/popper.min.js'%}"></script>
	<!-- bootstrap -->
	<script src="{%static 'mainapp/assets/js/bootstrap.min.js'%}"></script>
	<!-- plugin js-->
	<script src="{%static 'mainapp/assets/js/plugin.js'%}"></script>

	<!-- MpusemoverParallax JS-->
	<script src="{%static 'mainapp/assets/js/TweenMax.js'%}"></script>
	<script src="{%static 'mainapp/assets/js/mousemoveparallax.js'%}"></script>
	<!-- main -->
	<script src="{%static 'mainapp/assets/js/main.js'%}"></script>
</body>
</html>