{% extends 'mainapp/base.html'%}
{%load static%}
{%block content%}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0" nonce="TxsywfFv"></script>
<div class="hero-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 d-flex align-self-center">
				<div class="left-content">
					<div class="content">

						<h3 class="title">
								<i class="fa fa-home">On Met Network</i>
						</h3>
						<p class="text">
							<i>Meta Quest Pro</i>, more social VR,Games and a look into the Future.
						</p>
							<p id = "times" hidden>{{trade_time.date_to|date:'M,d,Y H:i'}}</p>
							<p> <c class="mybtn2"><b id="days" > </b>D   <b id="hours"> </b>H  <b id="minutes"></b>M  <b id="seconds"> </b>S</c>
							<small>Untill next MTC lockup <a href="{%url 'trademore'%}"> see more</a></small></p>

						<div class="links">
							{%if request.user.is_authenticated%}

							{%else%}
							<a href="{%url 'login'%}" class="mybtn1 link1">Get Started Now!</a>
						{%endif%}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="hero-img2 d-block d-md-none">
					<img src="{%static 'mainapp/assets/images/meta1.png'%}" alt="">
				</div>
				<div class="hero-img d-none d-md-block">
					<img class="img-fluid full-image" src="{%static 'mainapp/assets/images/heroarea.png'%}" alt="">
					<img class="shape phone" src="{%static 'mainapp/assets/images/meta1.png'%}" alt="">
					<img class="shape man" src="{%static 'mainapp/assets/images/h-shapes/man22.png'%}" alt="">
					<img class="shape ripple" src="{%static 'mainapp/assets/images/h-shapes/ripple.png'%}" alt="">
					<img class="shape ripple2" src="{%static 'mainapp/assets/images/h-shapes/ripple1.png'%}" alt="">
					<img class="shape bitcoin1" src="{%static 'mainapp/assets/images/metcoin.png'%}" alt="">
					<img class="shape bitcoin2" src="{%static 'mainapp/assets/images/h-shapes/bitcoin2.png'%}" alt="">
					<img class="shape shape-icon" src="{%static 'mainapp/assets/images/metcoin.png'%}" alt="">
					<img class="shape award-bg" src="{%static 'mainapp/assets/images/h-shapes/award/bg.png'%}" alt="">
					<img class="shape award" src="{%static 'mainapp/assets/images/metcoin.png'%}" alt="">
					<img class="shape gift-bg" src="{%static 'mainapp/assets/images/h-shapes/giftbox/bg.png'%}" alt="">
					<img class="shape gift" src="{%static 'mainapp/assets/images/metcoin.png'%}" alt="">
					<img class="shape shield-bg" src="{%static 'mainapp/assets/images/h-shapes/shield/bg.png'%}" alt="">
					<img class="shape shield" src="{%static 'mainapp/assets/images/h-shapes/shield/shield.png'%}" alt="">
				</div>

			</div>
		</div>
	</div>
</div>

<!-- Hero Area End -->
	<!-- Featured Game Area Start -->
	<section class="featured-game">
		<!-- Features Area Start -->
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10">
					<div class="section-heading">
<div class="right">
	<h6 class="sub-title mybtn2">Partners</h6>

</div>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="game-slider">
						<div class="item">
							<p class="mybtn2">Destructoid</p>

							<a href="">
							<div class="single-game">

								<img src="{%static 'mainapp/assets/images/flash.gif'%}" alt="">
								<a href="https://www.destructoid.com" target = "_blank" class="mybtn2">PLay NoW !</a>
							</div></a>
						</div>
						<div class="item">
							<p class="mybtn2">Steampowered</p>
							<a href="">
							<div class="single-game">
								<img src="{%static 'mainapp/assets/images/starships.gif'%}" alt="">
								<a href="https://store.steampowered.com/" target="_blank" class="mybtn2">PLay NoW !</a>
							</div></a>
						</div>
						<div class="item">
							<p class="mybtn2">Diva Games</p>

							<a href="">
							<div class="single-game">
									<img src="{%static 'mainapp/assets/images/playing.gif'%}" alt="">
									<a href="https://diva.co" class="mybtn2">PLay NoW !</a>
							</div></a>
						</div>
						<div class="item">
							<p class="mybtn2">Gameinformer</p>

							<a href="">
							<div class="single-game">
									<img src="{%static 'mainapp/assets/images/hero1.gif'%}" alt="">
									<a href="https://www.gameinformer.com/" class="mybtn2">PLay NoW !</a>
							</div></a>
						</div>
						<div class="item">
							Royal Games
							<a href="" >
							<div class="single-game">
									<img src="{%static 'mainapp/assets/images/coins.gif'%}" alt="">
									<a href="https://store.royals.games.com/" target="_blank" class="mybtn2">PLay NoW !</a>
							</div></a>
						</div>
					</div>
					<!--<div class="row allgames">
						<div class="col-lg-12 text-xl-center">
							<a class="mybtn2" href="">See all</a>
						</div>
					</div>-->
				</div>
			</div>
		</div>


		<div class="features">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="feature-box">
							<div class="feature-box-inner">
								<div class="row">
									<div class="col-lg-4 col-md-6">
										<div class="single-feature">
											<div class="icon one">
												<img src="{%static 'mainapp/assets/images/feature/icons6.png'%}" alt="">
											</div>
											<div class="content">
												<h4 class="title">
													Exclusive Offer
												</h4>
												<a href="{%url 'lot'%}" class="link">read more <i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6">
										<div class="single-feature">
											<div class="icon two">
												<img src="{%static 'mainapp/assets/images/feature/icon2.png'%}" alt="">
											</div>
											<div class="content">
												<h4 class="title">
													Fair Trading
												</h4>
												<a href="{%url 'trade_met'%}" class="link">read more <i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6">
										<div class="single-feature">
											<div class="icon three">
												<img src="{%static 'mainapp/assets/images/feature/icon3.png'%}" alt="">
											</div>
											<div class="content">
												<h4 class="title">
														24/7 Support
												</h4>
												<a href="{%url 'contact'%}" class="link">read more <i class="fas fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Features Area End -->

	</section>
	<!-- Featured Game Area	End -->

	<!-- Latest Activities Area Start -->
	 <section class="activities">
		 <img class="shape shape1" src="{%static 'mainapp/assets/images/people/shape1.png'%}" alt="">
		 <img class="shape shape2" src="{%static 'mainapp/assets/images/people/shape2.png'%}" alt="">
		 <img class="shape shape3" src="{%static 'mainapp/assets/images/people/shape3.png'%}" alt="">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10">
					<div class="section-heading">
						<h5 class="subtitle">
							The Smarter Way
						</h5>
						<h2 style="color:black ;">
							Met Lottery
						</h2>
						</h2>
						<p class="text">
							Join MTC lottery &amp; take home cash Prizes!

						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="tab-menu-area">
						<ul class="nav nav-lend mb-3" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-all-bets-tab" data-toggle="pill" href="#pills-all-bets" role="tab" aria-controls="pills-all-bets" aria-selected="true">Top Winners </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-my-bets-tab" data-toggle="pill" href="#pills-my-bets" role="tab" aria-controls="pills-my-bets" aria-selected="false">MySelf</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-my-jackpots-tab" data-toggle="pill" href="#pills-my-jackpots" role="tab" aria-controls="pills-my-jackpots" aria-selected="false">jackpots</a>
							</li>
						</ul>
					</div>
				<div class="row">
				<div class="col-lg-12">
					<div class="tab-menu-area">
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-all-bets" role="tabpanel" aria-labelledby="pills-all-bets-tab">
							<div class="responsive-table">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">USER</th>
											<th scope="col">GameID</th>
										<th scope="col">CHANCE</th>
										<th scope="col">NUMBER</th>
										<th scope="col">EARN</th>
										<th scope="col">DATE</th>
										</tr>
									</thead>
									<tbody>
										{%for bid in top_bid%}

										<tr>

											<td>
												{{bid.user.username}}
											</td>
											<td>
												b799b8724{{bid.id}}b
											</td>

											<td>50%</td>
											 <td>{{bid.number}}</td>
											<td>
												<img src="{%static 'mainapp/assets/images/metcoin.png'%}" alt="">
												{{bid.profit|floatformat:2}}
											</td>
											<td>{{bid.date|date:'M,d,Y'}}</td>

										</tr>
										{%endfor%}

									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="pills-my-bets" role="tabpanel" aria-labelledby="pills-my-bets-tab">
							<div class="responsive-table">
								<table class="table">
									<thead>
										{%if my_bids is not none%}

										<tr>
											<th scope="col">USER</th>
											<th scope="col">LOTTERYID</th>
										<th scope="col">CHANCE</th>
										<th scope="col">Number</th>
										<th scope="col">STAKE</th>
										<th scope="col">EARN</th>
										<th scope="col">DATE</th>
										</tr>
									</thead>
									<tbody>
										{%for bid in my_bids%}
										<tr>

											<td>
												{{bid.user.username}}
											</td>
											<td>
												b799b8724{{bid.id}}b
											</td>

											<td>50%</td>
											 <td>{{bid.number}}</td>
											<td>
												<img src="{%static 'mainapp/assets/images/icons6.png'%}" alt="">
												{{bid.stake|floatformat:2}}
											</td>
											<td>
												<img src="{%static 'mainapp/assets/images/metcoin.png'%}" alt="" >
												{{bid.profit|floatformat:2}}
											</td>
											<td>{{bid.date|date:'M,d,Y'}}</td>

										</tr>
										{%endfor%}
										{%else%}
									<tr><td>Your Bids will be shown here</td></tr>
									{%endif%}
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="pills-my-jackpots" role="tabpanel" aria-labelledby="pills-my-jackpots-tab">
							<div class="responsive-table">
								<table class="table">
									<thead>
										<tr>
										<th scope="col">USER</th>
										<th scope="col">Ref ID</th>
										<th scope="col">From</th>
										<th scope="col">Jackpot</th>
										<th scope="col">Date</th>

										</tr>
									</thead>
									<tbody>
										{%for user in jackpot.bid_set.all%}
										{%if user.win%}
										<tr>
											<td>
												{{user.user.username}}
											</td>
											<td>
												{{user.user.profile.uid}}
											</td>
											<td>Lottery</td>
											<td>
												<img src="{%static 'mainapp/assets/images/metcoin.png'%}" alt="">
												{{user.profit|floatformat:2}}
											</td>
											<td>{{user.date|date:'m,d,y'}}</td>

										</tr>
										{%endif%}
										{%endfor%}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="fb-video" data-href="https://www.facebook.com/ls11kh/videos/1882397735473994/" data-width="500" data-height="500" data-show-text="false">

		</div>
		<div class="fb-video" data-href="https://www.facebook.com/ls11kh/videos/900177561154569" data-width="500" data-height="500" data-show-text="false" >

		</div>
	 <div class="fb-video" data-href="https://www.facebook.com/ls11kh/videos/1882397735473994/" data-width="500" data-height="500" data-show-text="false">

		</div> -->

		<!-- Fun fact Area Start -->
		<!-- <div class="funfact">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="single-fun" id="fun1">
							<img src="{%static 'mainapp/assets/images/funfact/icon1.png'%}" alt="">
							<div class="count-area">
								<div class="count">15K</div>
							</div>
							<p>
									Players
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-fun" id="fun2">
							<img src="{%static 'mainapp/assets/images/funfact/icon2.png'%}" alt="">
							<div class="count-area">
								<div class="count">7+</div>
							</div>
							<p>
									Games
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-fun" id="fun3">
							<img src="{%static 'mainapp/assets/images/funfact/icon3.png'%}" alt="">
							<div class="count-area">
								<div class="count">9K+</div>
							</div>
							<p>
									Winners
							</p>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- Fun fact Area End -->
	</section>
	<!-- Latest Activities Area End -->


	<!-- Get Start Area Start -->
	 <section class="get-start">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 d-flex align-self-center">
					<div class="left-area">
						<div class="section-heading">
							<h5 class="subtitle">
								Every day lots of  wins
							</h5>
							<h2 class="title ">
									Be one of Us
							</h2>
							<p class="text" style="color: white;">
									Get started in less than 5 min
									Gain early access to MTC .
							</p>
							<a href="{%url 'register'%}" class="mybtn1">Join  Now!</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="right-image">
						<img src="{%static 'mainapp/assets/images/get-start.png'%}" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Get Start Area End -->

	<!-- Recent Winners Area Start -->
	<section class="recent-winners">
			<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-10">
							<div class="section-heading">
								<h5 class="subtitle">
									Check out our
								</h5>
								<h2 class="title" style="color: black;">
										Recent Top 3 Winners
								</h2>
								<p class="text">
									We update our site regularly; more and more winners are added every day! To locate the most recent winner's information
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						{%for bid in top_three_bids%}
						<div class="col-lg-4">
							<div class="single-winer">
								<div class="top-area">
									<div class="left">
										<h4 class="name" style="color: black;">
												{{bid.user.username}}
										</h4>
										<p class="date" style="color: black;" >
											{{bid.number}}
										</p>
									</div>
									<div class="right">
										<p class="id" style="color: white;">
											{{bid.date|date:'d/m'}}</p>
									</div>
								</div>
								<div class="bottom-area">
									<div class="left">
											{{bid.profit|floatformat:2}} MTC
									</div>
									<div class="right">
											<img src="{%static 'mainapp/assets/images/metcoin.png'%}" alt="" height="70" width="70">
									</div>
								</div>
							</div>
						</div>
						{%endfor%}

					</div>
					<div class="row">
						<div class="col-lg-12 text-xl-center">
							<a class="mybtn2" href="">Top </a>
						</div>
					</div>
			</div>
		</section>
	<!-- Recent Winners Area End -->
	<script src="{%static 'mainapp/assets/js/counter.js'%}"></script>

{%include 'footer.html'%}
{%endblock content%}