
  {%extends 'mainapp/base.html'%}
  {%load static%}
  {% block content%}
  <main class="recent-winners">

    <div class="container">
   
        <!-- profile -->
        
                        <!-- profile-details -->
                        
            <div class="col-md-12 mb-12">
                    <div class="rounded shadow-sm">
                        <div class="edmund-cart-item-profile bg-white rounded shadow-sm p-4">
                            <div class="flex-column">
                                <h6 class="font-weight-bold"> Account Reset</h6>
                                <p class="text-muted">You have reset your Password</p>
                                <form action="{%url 'login'%}" id = "joshform" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                 {%csrf_token%}
                                    </div>
                                    <a href="{%url 'login'%}" type="submit" class="btn btn-primary btn-block">Login Now</a>

                                </form>

                                <style>
                                    #joshform input{
                                      width: 80%;
                                    }
                                    #joshform button{
                                      width: 80%;
                                    }
                                    </style>
                                <!-- Map -->
                                <div class="mapouter pt-3">
                                    <!-- <div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=dugri%20ludhiana&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </main>
     {%endblock content%}