<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Met.com</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- favicon -->
    <link rel="shortcut icon" href="{%static 'mainapp/assets/images/favicon.html'%}" type="image/x-icon">
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="{%static 'mainapp/assets/css/bootstrap.min.css'%}" >
	<!-- Plugin css -->
	<link rel="stylesheet" type="text/css" href="{%static 'mainapp/assets/css/plugin.css'%}">
	<!-- stylesheet -->
	<link rel="stylesheet" type="text/css" href="{%static 'mainapp/assets/css/style.css'%}">
	<!-- responsive -->
	<link rel="stylesheet" type="text/css" href="{%static 'mainapp/assets/wallet/responsive.css'%}">

    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/bbbd3ef3a9.js" crossorigin="anonymous"></script>
</head>
<style>
    .breadcrumb-area.play {
      padding: 133px 0px 32px;
      margin-top: -42px;
  }
  .play-games .all-games {
      padding: 43px 0px 6px;
  }
  .play-games .all-games .nav li a {
      width: 110px;
      height: 110px;
      border-style: solid;
      border-width: 1px;
      border-color: #273b71;
      border-radius: 10%;
      margin: 5px 10px;
      text-align: center;
      -webkit-box-shadow: 0px 10px 15px 0px rgb(0 0 0 / 40%);
      box-shadow: 0px 10px 15px 0px rgb(0 0 0 / 40%);
  }

  .catego {
      border-bottom: 1px solid #dedede!important;
      padding-bottom: 12px;
  }

  .item {
      margin-bottom: 25px;
  }
  
  .buttonWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }
  .tab-button {
  letter-spacing: 3px;
  border: none;
  padding: 10px;
  background-color: #bccbe9;
  color: #0e141e;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
  }

  .tab-button:hover{
      background-color: #d5e3ff;
  }

  .tab-button.active {
      background-color: white;
  }
   
  .contentWrapper p {
  text-align: left;
  padding: 10px;
  }
  .content {
  display: none;
  padding: 10px 20px;
  }
  .content.active {
  display: block;
  }

  @media (min-width: 570px) {
      .single-winer {
          padding: 30px 30px 13px;
      }

      .wrapper {
      width: 590px;
      margin: auto;
      border-radius: 10px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
    }
      
  }
  </style>
<body>
	<!-- preloader area start -->
	<div class="preloader" id="preloader">
		<div class="loader lds-ripple ">
			<div class="lds-pos"></div>
				<div class="lds-pos"></div>
            </div>
        </div>
	<!-- preloader area end -->
    {%for message in messages%}
	<script>
		alert('{{message}}')
	</script>
	{%endfor%}
	<!-- Header Area Start  -->
	<header class="header">
		<!-- Top Header Area Start -->
		
		<!-- Top Header Area End -->
		
		<!--Main-Menu Area Start-->
	</header>
	<!-- Header Area End  -->

	<!-- Breadcrumb Area Start -->
	<section class="breadcrumb-area play" style="background:#105b54;color:white;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h6 class="">
						
                        <i class="fa fa-wallet title"></i>
                        <i class="fa fas-home">My Wallet</i>

					</h6>
                    
					
                    
				</div>
                
			</div>
		</div>
	</section>
	<!-- Breadcrumb Area End -->

	<!-- Account Area Start -->
	<section class="play-games">
			
        <div class="all-games">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <ul class="nav" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-tab1-tab" data-toggle="pill" href="#pills-tab1" role="tab" aria-controls="pills-tab1" aria-selected="true">
                                    <div class="icon">
                                        <i class="fa fa-wallet"></i>
                                    </div>
                                    <span>Balance</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-tab2-tab" data-toggle="pill" href="#pills-tab2" role="tab" aria-controls="pills-tab2" aria-selected="false">
                                <div class="icon">
                                    <i class="fa fa-money"></i>
                                </div>
                                <span>Deposit</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-tab3-tab" data-toggle="pill" href="#pills-tab3" role="tab" aria-controls="pills-tab3" aria-selected="false">
                                <div class="icon">
                                    <i class="fa-solid fa-money-bill-transfer"></i>
                                </div>
                                <span>Withdraw</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-tab3-tab" data-toggle="pill" href="#pills-tab4" role="tab" aria-controls="pills-tab3" aria-selected="false">
                                <div class="icon">
                                    <i class="fa-solid fa-money-bills"></i>
                                </div>
                                <span>History</span>
                                </a>
                            </li>
                        
                        </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-tab1" role="tabpanel" aria-labelledby="pills-tab1-tab">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="single-winer">
                                        <div class="top-area">
                                            <div class="left">
                                                <h4 class="name" style="color:white;">
                                                        USD wallet 
                                                </h4>
                                            </div>
                                            <div class="right">
                                                <p class="id" id="lock" data-toggle="modal" data-target="#signin" style="background-color: brown;">Lock Now 🔓</p>
                                            </div>
                                        </div>
                                        <div class="bottom-area">
                                            <div class="left">
                                                   {{request.user.account.main|floatformat:3}} USDT
                                            </div>
                                            <div class="right">
                                                    <img src="{%static 'mainapp/assets/images/icons6.png'%}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%if request.user.account.wallet%}
                                <div class="col-lg-4">
                                    <div class="single-winer">
                                        <div class="top-area">
                                            <div class="left">
                                                <h4 class="name" style="color:white;">
                                                        MetCoin Wallet   

                                                </h4>
                                            </div>
                                        </div>
                                        <div class="bottom-area">
                                            <div class="left">
                                                    {{request.user.account.balance|floatformat:3}} MTC
                                            </div>
                                            <div class="right">
                                                <img src="{%static 'mainapp/assets/images/metcoin.png'%}"  width="70"height = "70" alt="">

                                            </div>
                                            </div>
                                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                                            <!-- <p class="id fa-spin">♻️</p>
                                            <button class="buttonload">
                                                  <i class="fa fa-spinner fa-spin"></i>Loading

                                                <i class="fa fa-circle-o-notch fa-spin"></i>Loading
                                                <i class="fa fa-refresh fa-spin"></i>Loading

                                              </button> -->

                                    </div>
                                </div>
                                {%else%}
                                <div class="col-lg-4">
                                    <div class="single-winer">
                                        <div class="top-area">
                                            <div class="left">
                                                <h4 class="name" style="color:white;">
                                                        MetCoin Wallet   

                                                </h4>
                

                                            </div>
                                            <div class="right">
                                                <p class="id"  >Not Found</p>

                                            </div>
                                        </div>
                                        <div class="bottom-area">
                                            <div class="left">
                                                    <a class = 'mybtns'href="{%url 'get_wallet'%}">Create Wallet</a>
                                            </div>
                                            <div class="right">
                                                <img src="{%static 'mainapp/assets/images/metcoin.png'%}"  width="70"height = "70" alt="">

                                            </div>
                                            </div>
                                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


                                    </div>
                                </div>
                                {%endif%}
                                <style>
                                    .buttonload {
                                  background-color: #04AA6D; /* Green background */
                                  border: none; /* Remove borders */
                                  color: white; /* White text */
                                  padding: 12px 16px; /* Some padding */
                                  font-size: 16px /* Set a font size */
                                }
                                
                                                .mybtns {
                                                font-size: 16px;
                                                font-weight: 600;
                                                padding: 8px 10px;
                                                display: inline-block;
                                                color: #fff;
                                                border: 0px;
                                                border-radius: 20px;
                                                cursor: pointer;
                                                -webkit-transition: all 0.3s ease-in;
                                                -o-transition: all 0.3s ease-in;
                                                transition: all 0.3s ease-in;
                                                background-image: -webkit-gradient(linear, right top, left top, from(#065548), to(#2198c0));
                                                background-image: -webkit-linear-gradient(right, #065548, #2198c0);
                                                background-image: -o-linear-gradient(right, #065548, #2198c0);
                                                background-image: linear-gradient(to left, #065548, #2198c0);
                                                }
                                </style>
                                {%if locked%}
                                <div class="col-lg-4">
                                    <div class="single-winer">
                                        <div class="top-area">
                                            <div class="left">
                                                <h4 class="name" style="color:white;">
                                                    Locked Assets                                                    
                                                </h4>
                                            </div>
                                            
                                            <div class="right">
                                                <p class="id">Minting MTC</p>
                                            </div>
                                        </div>
                                        <div class="bottom-area">
                                            <form action="{%url 'lock_up'%}" method="post">
                                            <div class="left" style="color: #fff;">
                                                <p id = "times" style="display: none;">{{locked.date_to|date:'M,d,Y H:i'}}</p>
                                                <input hidden name = "action" value = 'claim'/>
                                                {%csrf_token%}
                                                <input hidden name = "amount" value = '{{locked.amount}}'/>
                                                <p id="allCounts"><b id="days"> </b>D   <b id="hours"> </b>H  <b id="minutes"></b>M  <b id="seconds"> </b>S </p>
                                                <p id="claim" style="display: none;"><button class="mybtns">Redeem</button></p>
                                            </div>
                                        </form>
                                            <div class="right">
                                                <span>verified</span>
                                                <img src="{%static 'mainapp/assets/images/metcoin.png'%}" class="id fa-spin" width="70"height = "70" alt="">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%else%}

                                <div class="col-lg-4">
                                    <div class="single-winer">
                                        <div class="top-area">
                                            <div class="left">
                                                <h4 class="name" style="color:white;">
                                                    Locked Assets                                                    
                                                </h4>
                                            </div>
                                            <div class="right">
                                                <p class="id">None</p>
                                            </div>
                                        </div>
                                        <div class="bottom-area">
                                           
                                                <div class="left">
                                                <p>Click on lock now on your USDT assets to lock your assets and make MTC in 24 Hours</p>
                                                </div>

                                            <div class="right">
                                                <img src="{%static 'mainapp/assets/images/metcoin.png'%}"  width="70"height = "70" alt="">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-tab2" role="tabpanel" aria-labelledby="pills-tab2-tab">
                            
                            <div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
                                <div class="auth-box">
                                    <div>
                                        <div class="logo">
                                            <h5 class="font-medium m-b-20">Enter Amount</h5>
                                        </div>
                                        <!-- Form -->
                                            <div class="row">
                                                <div class="col-12">
                                                    <form class="form-horizontal m-t-20" action="{%url 'checkout'%}" method="post">
                                                        <div class="form-group row">
                                                            <div class="col-12">
                                                                {%csrf_token%}
                                                                <input class="form-control form-control-lg" name="amount" type="number" min="10" required="" placeholder="USDT">
                                                            </div>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <div class="col-xs-12 p-b-20">
                                                                <button class="btn bg-primary" style="color: #fff;"type="submit" id="deposit-btn">Proceed</a>
                                                                    <script>
                                                                        var btn = document.getElementById('deposit-btn')
                                                                        btn.addEventListener('click',load)
                                                                        function load(){
                                                                            btn.appendChild('<i>')
                                                                            btn.classList.add('fa fa-spinner fa-spin')
                                                                        }
                                                                    </script>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="pills-tab3" role="tabpanel" aria-labelledby="pills-tab3-tab">
                            <div class="row">

                                <div class="nav nav-lend mb-3" id="pills-tab" role="tablist" style="margin-left: 60px; display: flex">
                                    
                                    <div class="nav-item">
                                        <a class="nav-link tabss"  data-toggle="pill" href="#pills-all-bets" role="tab" aria-controls="pills-all-bets" aria-selected="true" >Instructions </a>
                                    </div>
                                    <div class="nav-item">
                                        <a class="nav-link tabss" data-toggle="pill" href="#pills-my-bets" role="tab" aria-controls="pills-my-bets" aria-selected="true" style="background-color: rgb(39, 140, 132);">Withdraw</a>
                                    </div>
                                </div>

                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-all-bets" role="tabpanel" aria-labelledby="pills-all-bets-tab">
                                        <div class="single-item">
                                            <div class="card card-body" style="background-color: transparent; text-align: left; color: #fff; width: 300px; margin-left:10%; margin-right:10%;">
                                                <form action="{%url 'swap'%}" method="POST">
                                                    <p>Your assets to withdraw must be from your USDT balance</p>
                                                    <p>Your assets in MTC if willing to withdrow, must be converted to USDT befor Withdrawal</p>
                                                    <p>Use the form below to Convert your MTC to USDT</p>
                                                    <label for="amount">Amount to Convert</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1"></span>
                                                        </div>
                                                        
                                                        <input type="number" class="form-control" name="amount" min="0" value="0" step="0.01"min="0" value="0" step="0.01" title="Currency Only" pattern="^\d+(?:\.\d{1,2})?$" required>
                                                    </div>
                                                    <hr>
                                        
                                                    {%csrf_token%}
                                                    <hr>
                                                    <input type="submit" value="Swap" name="withdraw" class="btn btn-success btn-block mt-3">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-my-bets" role="tabpanel" aria-labelledby="pills-my-bets-tab">
                                        <div class="single-item">
                                            <div class="card card-body" style="background-color: transparent; text-align: left; color: #fff; width: 300px; margin-left:10%; margin-right:10%;">
                                                <form action="{%url 'withdraw'%}" method="POST">
                                                    
                                                    <label for="amount">Withdrawal  Form</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1"></span>
                                                        </div>
                                                        
                                                        <input type="number" class="form-control" name="amount" min="0" value="0" step="0.01"min="0" value="0" step="0.01" title="Currency Only" pattern="^\d+(?:\.\d{1,2})?$" required>
                                                    </div>
                                                    <hr>
                                                    <label for="payment method">Withdrawal Method</label>
                                                    <select name="method" id="dbType" class="form-control">
                                                        <option value="wallet">USDT <span>(TRC-20)</span></option>
                                                    </select>
                                                    {%csrf_token%}
                                                    <hr>
                                                    <label for="wallet address">Enter Wallet Address:</label>
                                                    <input type="text" name="wallet" id="" class="form-control" required>
                                                    <hr>
                                                    <input type="submit" value="Proceed" name="withdraw" class="btn btn-success btn-block mt-3">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-tab4" role="tabpanel" aria-labelledby="pills-tab4-tab">
                            <div class="responsive-table">
								<table class="table" style="color: #fff;">
									<thead>
								{%if deposit%}
                                        <span class="bg-success">Deposits</span>
                                        <tr>
										<th scope="col">Date</th>
										<th scope="col">Amount</th>
										<th scope="col">ID</th>
										<th scope="col">Status</th>
										<th scope="col">Method</th>
										</tr>
									</thead>
									<tbody>
                                        {%for item in deposit%}
										<tr>
											<td>
												{{item.date|date:'M,d'}}
											</td>
											<td>
												{{item.amount}} USDT
											</td>
                                            <td>
												{{item.transaction_id}} 
											</td>
                                            {%if item.approved%}
                                            <td class="bg-success">
												Approved
											</td>
                                            {%elif item.cancel%}
                                            <td class="bg-danger">
												Canceled
											</td>
                                            {%else%}
                                            <td class="bg-warning">
												Pending
											</td>
                                            {%endif%}
											<td>
												{{item.method}}
											</td>
										</tr>
										{%endfor%}
									</tbody>
                                    {%endif%}
								</table>
                                <table class="table" style="color: #fff;">
									<thead>
								{%if withdraws%}
                                        <span class="bg-success">withdraws</span>
                                        <tr>
										<th scope="col">Date</th>
										<th scope="col">Amount</th>
										<th scope="col">To</th>
										<th scope="col">Status</th>
										<th scope="col">Method</th>
										</tr>
									</thead>
									<tbody>
                                        {%for item in withdraws%}
										<tr>
											<td>
												{{item.date_placed|date:'M,d'}}
											</td>
											<td>
												{{item.amount}} USDT
											</td>
                                            <td>
												{{item.account_number}} 
											</td>
                                            {%if item.approved%}
                                            <td class="bg-success">
												Approved
											</td>
                                            {%elif item.cancel%}
                                            <td class="bg-danger">
												Canceled
											</td>
                                            {%else%}
                                            <td class="bg-warning">
												Pending
											</td>
                                            {%endif%}
											<td>
												{{item.method}}
											</td>
										</tr>
										{%endfor%}
									</tbody>
                                    {%endif%}
								</table>
							</div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
	</section>
	<!--Account Area End -->
		

	<!-- Footer Area Start -->
	<footer class="footer" id="footer" style="background: #105b54;border-radius: 15px solid white;">
        <div class="copy-bg" style="background: #105b54;">
            <div class="container" style="background: #105b54;">
                <div class="row" style="background: #105b54;">
                    <div class="col-lg-5" style="background: #105b54;">
                        <div class="left-area" style="background: #105b54;">
                            <p>Copyright © 2022.All Rights Reserved By <a href="#">Met</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <ul class="copright-area-links">
                            <li>
                                <a href="{%url 'terms'%}">Terms Of Use</a>
                            </li>
                            <li>
                                <a href="{%url 'about'%}">About Us</a>
                            </li>
                            
                            <li>
                                <a href="{%url 'contact'%}">Help Center</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</footer> 
    
    <div class="modal fade sign-in show active" id="signin" tabindex="1" role="dialog" aria-labelledby="login" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
            <div class="modal-body">
                <div class="logo-area">
                        <img class="logo" src="" alt="">
                </div>
                <div class="header-area">
                    <h4 class="title"></h4>
                    <p class="sub-title">Enter USDT to Lock for 24 hours</p>
                </div>
                <div class="form-area">
                    <form action="{%url 'lock_up'%}"  method="post">
                        <div class="form-group">
                                {%csrf_token%}
                        </div>
                        <div class="form-group">
                                <label for="login-input-password">Amount *</label>
                                <input type="number" step="0.001" name = 'amount' class="input-field" id="login-input-password" >
                        </div>
                        <div class="form-group">
                            <input hidden name="action" value="lock">
                        </div>
                        <div class="form-group">
                               <button type="submit" class="mybtn1">Lock</button>
                        </div>
                    </form>
                </div>
                
                
            </div>
        </div>
        </div>
    </div>
    {%include 'footer.html'%}
	<!-- Footer Area End -->

	<!-- Back to Top Start -->
	<div class="bottomtotop">
		<i class="fas fa-chevron-right"></i>
	</div>
	<!-- Back to Top End -->

	<!-- Login Area Start -->
	<!-- <div class="modal fade login-modal" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="" alt="">
					</div>
					<div class="header-area">
						<h4 class="title">Great to have you back!</h4>
						<p class="sub-title">Enter your details below.</p>
					</div>
					<div class="form-area">
						<form action="#"  method="POST">
							<div class="form-group">
									<label for="login-input-email">Email*</label>
									<input type="email" class="input-field" id="login-input-email"  placeholder="Enter your Email">
							</div>
							<div class="form-group">
									<label for="login-input-password">Password*</label>
									<input type="password" class="input-field" id="login-input-password"  placeholder="Password">
							</div>
							<div class="form-group">
								<div class="box">
									<div class="left">
											<input type="checkbox" class="check-box-field" id="input-save-password" checked>
										<label for="input-save-password">Remember Password</label>
									</div>
									<div class="right">
										<a href="#">
											Forgot Password?
										</a>
									</div>
								</div>
							</div>
							<div class="form-group">
								   <button type="submit" class="mybtn1">Log In</button>
							</div>
						</form>
					</div>
					<div class="form-footer">
						<p>Not a member? 
								<a href="#">Create account <i class="fas fa-angle-double-right"></i></a>
						</p>
					</div>
				</div>
			</div>
			</div>
		</div>-->
	
		

        <script>
            const tabs = document.querySelector(".wrapper");
            const tabButton = document.querySelectorAll(".tab-button");
            const contents = document.querySelectorAll(".content");
            tabs.onclick = e => {
              const id = e.target.dataset.id;
              if (id) {
                tabButton.forEach(btn => {
                  btn.classList.remove("active");
                });
                e.target.classList.add("active");
                contents.forEach(content => {
                  content.classList.remove("active");
                });
                const element = document.getElementById(id);
                element.classList.add("active");
              }
          }
          </script>
	<!-- jquery -->
	<!-- popper -->
	
    <script src="{%static 'mainapp/assets/js/jquery.js'%}"></script>
	<!-- popper -->
	<script src="{%static 'mainapp/assets/js/popper.min.js'%}"></script>
	<!-- bootstrap -->
	<script src="{%static 'mainapp/assets/js/bootstrap.min.js'%}"></script>
	<!-- plugin js-->
	<script src="{%static 'mainapp/assets/js/plugin.js'%}"></script>

	<!-- MpusemoverParallax JS-->
	<script src="{%static 'mainapp/assets/js/TweenMax.js'%}"></script>
	<script src="{%static 'mainapp/assets/js/mousemoveparallax.js'%}"></script>
	<!-- main -->
	<script src="{%static 'mainapp/assets/js/main.js'%}"></script>
    <script src="{%static 'mainapp/assets/js/counter.js'%}"></script>

</body>

</html>