<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metric</title>
    <link rel="stylesheet" type="text/css" href="{%static 'mainapp/assets/css/dstyle.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'mainapp/assets/css/bootstrap.min.css'%}" >
    
</head>
<style>
    .buybtns {
      font-size: 16px;
      font-weight: 600;
      padding: 8px 10px;
      display: inline-block;
      color: #fff;
      border: 0px;
      border-radius: 2px;
      cursor: pointer;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      background-image: -webkit-gradient(linear, right top, left top, from(#065548), to(#2198c0));
      background-image: -webkit-linear-gradient(right, #065548, #2198c0);
      background-image: -o-linear-gradient(right, #065548, #2198c0);
      background-image: linear-gradient(to left, #065548, #2198c0);
    }
</style>
<body>
    <section data-v-7d9ce8f6="" class="page settings-page referrals-page">
        <div data-v-7d9ce8f6="" class="head-banner page-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb">
                         
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1>Become a METner</h1>
                        <h4 style="color: black;">You need MTC wallet </h4>
                    </div>
                </div>
            </div>
        </div>
       
        <div data-v-7d9ce8f6="" class="container" id="txt">
            <div data-v-7d9ce8f6="" class="row">
                <div data-v-7d9ce8f6="" class="col">
                    <h1 data-v-7d9ce8f6="">How it works</h1>
                </div>
            </div>
            <div data-v-7d9ce8f6="" class="row">
                <div data-v-7d9ce8f6="" class="col">
                    <div data-v-7d9ce8f6="" class="card my-0">
                        <div data-v-7d9ce8f6="" class="card-body">
                            
                            <div data-v-7d9ce8f6="" class="form-group"><label data-v-7d9ce8f6=""
                                    class="form-label opacity-50">MTC wallet</label>
                                <div data-v-7d9ce8f6=""><span data-v-7d9ce8f6="" id="referral-link"
                                        class="fw-bold">
                                        <p>MTC wallets are the <b>Only</b> wallets used for trading <b>MTC/USDT</b></p>

                                    </span>
                                    <div class="check-group">
                                        <input type="checkbox" class="check-box-field" id="allterms" onclick="handleterms()" >
                                        <label for="input-terms">
                                             <a href="{%url 'terms'%}" style="color: rgb(9, 39, 228);"> See terms of Use</a>
                                        </label>
                                    </div>
                                    <p style="display: none;letter-spacing: 0.05em;" id="termsdetail">
                                            <a href="">Our Privacy Policies</a><br>
We at MET network are commited to protecting your personal information while providing you with fun-filled experience and life changing opportunities to earn by becoming part of the world decentralized, fast growing economy system.
By using our services, you agree to be of legal age in your country, and in all the cases your minimal age must be 18 years otherwise as your country specifies.
We may update these Terms from time to time and any changes will be notified to you here or via a suitable announcement on the Site. The changes will apply to the use of the Site after we have given notice. If you do not wish to accept the new Terms you should not continue to use the Site. If you continue to use the Site after the date on which the change comes into effect, your use of the Site indicates your agreement to be bound by the new Terms.
The MET network is not available to the general public and is opened only to the  METner(verified members of the MET network), the use of this platform is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between MET network and its Members.
You guarantee to Website Name Management that you will not use this platform in any illegal way and you agree to respect your local, national and international laws.<br>
You agree that all information, communications, materials coming from MET network are unsolicited and must be kept private, confidential and protected from any disclosure. Moreover, the information, communications and materials contained herein are not to be regarded as an offer, nor a solicitation for investments in any jurisdiction which deems non-public offers or solicitations unlawful, nor to any person to whom it will be unlawful to make such offer or solicitation.
All the data giving by a METner will be only privately used and not disclosed to any third parties. MET network are not responsible or liable for any loss of data.<br>
You agree to hold all principals and members harmless of any liability. You are gaming at your own pleasure and risk and you agree that You will be responsible for all day tremendous gain which may result from your activities on this website and the losses too. You agree that all information, communications and materials you will find on this site are intended to be regarded as an informational and educational matter and not an advice.
We reserve the right to change the rules, commissions and rates of the program at any time and at our sole discretion without notice, especially in order to respect the integrity and security of the members' interests. You agree that it is your sole responsibility to review the current terms.
<br>
MET network is not responsible or liable for any damages, losses and costs resulting from any violation of the conditions and terms and/or use of our website by a member. 
Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program FIRST. Maybe there was a technical problem, so please always CLEAR the challenge with the administrator.
As a convenience to METner, the Site includes links to other websites or material which are beyond its control. MET network is not responsible in any way for content outside the Site.
The content on the Site is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice from our team of expect through the help option or other means provided by us before taking, or refraining from, any action on the basis of the content on the Site.
Although we make reasonable efforts to update the information on the Site, we make no representations, warranties or guarantees, whether express or implied, that the content on the Site is accurate, complete or up to date.
We will not tolerate SPAM or any type of UCE in this program. SPAM violators will be immediately and permanently removed from the program.
MET network reserves the right to accept or decline any member for membership without explanation.<br>
MET network may suspend or cancel your registration immediately at our reasonable discretion or if you breach any of your obligations under these Terms. The suspension or cancellation of your registration and your right to use the Site shall not affect either party's rights or liabilities.
Your access to the Site may be occasionally restricted to allow for repairs, maintenance or the introduction of new facilities or services. We will attempt to restore the service as soon as it reasonably can. If you do not agree with the above disclaimer, please do not go any further.
We really want to assure you that all been said is just to enable effective service from us to you and we are solamely committed to the success of this program.

                                    </p>
                                    <div class="check-group">
                                        <input type="checkbox" class="check-box-field" id="terms" onclick="handleCheck()" >
                                        <label for="input-terms">
                                                I agree with <a href="{%url 'terms'%}" style="color: aqua;">Terms and Conditions</a> and i read <a href="{%url 'about'%}"  style="color: rgb(7, 55, 187);">About Met</a>
                                        </label>
                                    </div>
                                    <button type="button" style="display: none;"  onclick="createWallet()" id="createbtn" class="buybtns">Create wallet</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <hr>
        <div id="loader" style="display: none;">
            <div data-v-7d9ce8f6="" class="container">
                <div data-v-7d9ce8f6="" class="row">
                    <div data-v-7d9ce8f6="" class="col">
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
                    
                        <h1 class="" >
                            <img src="{%static 'mainapp/assets/images/metcoin.png'%}" class="id fa-spin" width="150"height = "150" alt="">

                        </h1>
                    </div>
                </div>
        </div>
       
        <div data-v-7d9ce8f6="" class="col">
            <div data-v-7d9ce8f6="" class="mb-5">
              
                <h6 data-v-7d9ce8f6=""></h6>
                <p data-v-7d9ce8f6=""></p>
            </div>
        </div>
    </section>
{%include 'footer.html'%}
<script>
    var checkBox = document.getElementById('terms')
    const termsBTN = document.getElementById('allterms')
    const termsTxt = document.getElementById('termsdetail')
    const createBtn = document.getElementById('createbtn')
    const loader = document.getElementById('loader')
    const txt = document.getElementById('txt')
    function createWallet(){
        txt.style.display = 'none'
        loader.style.display = 'block'
        setTimeout(()=>{
            loader.innerHTML = '<h1></h1>'
            const url = ''
       fetch(url,{
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFtoken': csrftoken,
                  },
                  //body: JSON.stringify({ "amount": samount, 'status': status })
                })
       .then((response) =>response.json())
       .then((data) => {
            if(data['msg']){
        loader.innerText = `${data['msg']} :${data['wallet']}`
        setTimeout(()=>{
        window.location.href = '/trading/met/'

        },2000)
            }
            else{
            loader.innerText = data['wallet']
            setTimeout(()=>{
        window.location.href = '/trading/met/'

        },2000)
            }
        })
        },10000)
        
        
       

        

    }
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

function handleCheck(){
    
    if (checkBox.checked === true){
        createBtn.style.display = 'block'
    }
    else{
        createBtn.style.display = 'none'

    }
}
function handleterms(){
     
    if (termsBTN.checked === true){
        termsTxt.style.display = 'block'
    }
    else{
        termsTxt.style.display = 'none'

    }
}
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  
</body>

</html>