<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Met</title>
    <link rel="stylesheet" type="text/css" href="{%static 'mainapp/assets/css/dstyle.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'mainapp/assets/css/bootstrap.min.css'%}" >
    
</head>

<body>
    <section data-v-7d9ce8f6="" class="page settings-page referrals-page">
        <div data-v-7d9ce8f6="" class="head-banner page-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#/user" class="router-link-active">Account</a></li>
                                <li aria-current="page" class="breadcrumb-item active"><a href="#/user/referrals"
                                        aria-current="page" class="router-link-exact-active router-link-active">Referral
                                        &amp; Earn</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1>Referral &amp; Earn</h1>
                        <p>Earn up to 3.5% commission on every trade of your friends when they start trading</p>
                        <p>Earn up to 1.7% commission on every trade of your friend's friends when they start trading</p>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-7d9ce8f6="" class="container">
            <div data-v-7d9ce8f6="" class="row">
                <div data-v-7d9ce8f6="" class="col">
                    <h1 data-v-7d9ce8f6="">Referral Code &amp; Link</h1>
                </div>
            </div>
            <div data-v-7d9ce8f6="" class="row">
                <div data-v-7d9ce8f6="" class="col">
                    <div data-v-7d9ce8f6="" class="card my-0">
                        <div data-v-7d9ce8f6="" class="card-body">
                            <!-- <div data-v-7d9ce8f6="" class="form-group"><label data-v-7d9ce8f6=""
                                    class="form-label opacity-50">Referral code</label>
                                <div data-v-7d9ce8f6=""><span data-v-7d9ce8f6="" id="referral-code"
                                        class="fw-bold">u188f3</span> <a data-v-7d9ce8f6="" href="javascript:;"
                                        data-toggle="copy" data-target="#referral-code" class="link-hover">Copy</a>
                                </div>
                            </div> -->
                            <div data-v-7d9ce8f6="" class="form-group"><label data-v-7d9ce8f6=""
                                    class="form-label opacity-50">Referral link</label>
                                <div data-v-7d9ce8f6=""><span data-v-7d9ce8f6="" id="referral-link"
                                        class="fw-bold"> 
                                        <p  style="margin-top:0px; margin-bottom:0px;"><b id="p1"></b> 
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16" style="margin-left: 5px; 
                                        cursor: pointer;" 
                                        onclick="copyToClipboard('#p1')" >
                                            <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
                                            
                                        </svg> <b id="copied" style="display: none; margin-left: 5px;">Copied!</b>
                                    </p>
                                         </span> 
                                       
                                    <br>
                                    <br>
                                        <span id = "date1">This link is for your account @ <b>{{request.user.username}}</b></span>
                                        
                                        
                                    </div>
                                   
                                    

                                <script>
                                    var ref = document.domain +'/users/accounts/sign_up/'+'{{request.user.profile.uid}}/'
                                    var refbtn = document.getElementById('p1')
                                    refbtn.innerText =ref

                                    function copyToClipboard(element) {
                                    var $temp = $("<input>");
                                    $("body").append($temp);
                                    $temp.val($(element).text()).select();
                                    document.execCommand("copy");
                                    $temp.remove();

                                    var copy = document.getElementById('copied')
                                    copy.style.display = "inline";
                                    }
                                </script>
                                    
                                </div>
                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <section data-v-1aef452e="" data-v-7d9ce8f6="" class="referral-container">
                <div data-v-1aef452e="" class="row mb-4">
                    <div data-v-1aef452e="" class="col">
                        <ul data-v-1aef452e="" class="nav nav-tabs mt-4">
                            <li data-v-1aef452e="" class="nav-item"><a data-v-1aef452e="" href="javascript:;"
                                    class="nav-link active">Referral Stats</a></li>
                            <li data-v-1aef452e="" class="nav-item"><a data-v-1aef452e="" href="javascript:;"
                                    class="nav-link">
                                    1st level friends
                                </a></li>
                            <li data-v-1aef452e="" class="nav-item"><a data-v-1aef452e="" href="javascript:;"
                                    class="nav-link">
                                    2nd level friends
                                </a></li>
                      
                        </ul>
                    </div>
                </div>
                <div data-v-1aef452e="" class="row">
                    <div data-v-1aef452e="" class="col">
                        <div data-v-1aef452e="" class="referral-part">
                            <section data-v-e1e7f8f0="" data-v-1aef452e="" class="referral-list">
                                <div data-v-e1e7f8f0="" class="row pb-3 mb-3 text-center referral-stats">
                                    <div data-v-e1e7f8f0="" class="col">
                                        <h6 data-v-e1e7f8f0="">0</h6>
                                        <div data-v-e1e7f8f0=""># friends</div>
                                    </div>
                                    <div data-v-e1e7f8f0="" class="col">
                                        <h6 data-v-e1e7f8f0="">0</h6>
                                        <div data-v-e1e7f8f0=""># activated</div>
                                    </div>
                                    <div data-v-e1e7f8f0="" class="col">
                                        <h6 data-v-e1e7f8f0="">0</h6>
                                        <div data-v-e1e7f8f0="">Today's Commissions</div>
                                    </div>
                                    <div data-v-e1e7f8f0="" class="col">
                                        <h6 data-v-e1e7f8f0="">0</h6>
                                        <div data-v-e1e7f8f0="">Total Commissions</div>
                                    </div>
                                </div>
                                <div data-v-e1e7f8f0="" class="mb-5 dtable">
                                    <div data-v-e1e7f8f0="" class="head-row">
                                        <div data-v-e1e7f8f0="" class="tcell">Level</div>
                                        <div data-v-e1e7f8f0="" class="tcell"># friends</div>
                                        <div data-v-e1e7f8f0="" class="tcell">Today's Commissions</div>
                                        <div data-v-e1e7f8f0="" class="tcell">Total Commissions</div>
                                    </div>
                                    <div data-v-e1e7f8f0="" class="table-row">
                                        <div data-v-e1e7f8f0="" class="tcell"><label data-v-e1e7f8f0="">Level</label>
                                            <div data-v-e1e7f8f0="">#1</div>
                                        </div>
                                        <div data-v-e1e7f8f0="" class="tcell"><label data-v-e1e7f8f0="">#
                                                friends</label>
                                            <div data-v-e1e7f8f0="">0</div>
                                        </div>
                                        <div data-v-e1e7f8f0="" class="tcell"><label data-v-e1e7f8f0="">Today's
                                                Commissions</label>
                                            <div data-v-e1e7f8f0="">
                                                0
                                            </div>
                                        </div>
                                        <div data-v-e1e7f8f0="" class="tcell"><label data-v-e1e7f8f0="">Total
                                                Commissions</label>
                                            <div data-v-e1e7f8f0="">
                                                0
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-e1e7f8f0="" class="table-row">
                                        <div data-v-e1e7f8f0="" class="tcell"><label data-v-e1e7f8f0="">Level</label>
                                            <div data-v-e1e7f8f0="">#2</div>
                                        </div>
                                        <div data-v-e1e7f8f0="" class="tcell"><label data-v-e1e7f8f0="">#
                                                friends</label>
                                            <div data-v-e1e7f8f0="">0</div>
                                        </div>
                                        <div data-v-e1e7f8f0="" class="tcell"><label data-v-e1e7f8f0="">Today's
                                                Commissions</label>
                                            <div data-v-e1e7f8f0="">
                                                0
                                            </div>
                                        </div>
                                        <div data-v-e1e7f8f0="" class="tcell"><label data-v-e1e7f8f0="">Total
                                                Commissions</label>
                                            <div data-v-e1e7f8f0="">
                                                0
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-e1e7f8f0="" class="table-row">
                                        <div data-v-e1e7f8f0="" class="tcell"><label data-v-e1e7f8f0="">Level</label>
                                            <div data-v-e1e7f8f0="">#3</div>
                                        </div>
                                        <div data-v-e1e7f8f0="" class="tcell"><label data-v-e1e7f8f0="">#
                                                friends</label>
                                            <div data-v-e1e7f8f0="">0</div>
                                        </div>
                                        <div data-v-e1e7f8f0="" class="tcell"><label data-v-e1e7f8f0="">Today's
                                                Commissions</label>
                                            <div data-v-e1e7f8f0="">
                                                0
                                            </div>
                                        </div>
                                        <div data-v-e1e7f8f0="" class="tcell"><label data-v-e1e7f8f0="">Total
                                                Commissions</label>
                                            <div data-v-e1e7f8f0="">
                                                0
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section> <a data-v-1aef452e="" href="#/user/commissions" class="">Commission details</a>
                        </div>
                    </div>
                </div>
            </section> -->
        </div>
        <div data-v-7d9ce8f6="" class="container">
            <div data-v-7d9ce8f6="" class="row">
                <div data-v-7d9ce8f6="" class="col">
                    <h1 data-v-7d9ce8f6="">How Referral Works</h1>
                </div>
            </div>
            <div data-v-7d9ce8f6="" class="row">
                <div data-v-7d9ce8f6="" class="col-12 col-md-6">
                    <div data-v-7d9ce8f6="" class="mb-5">
                        <div data-v-7d9ce8f6="" class="referral-step">
                            First
                            <svg data-v-7d9ce8f6="" viewBox="0 0 256 256" class="svg-icon">
                                <use data-v-7d9ce8f6="" xlink:href="/dist/svg/icons.svg#icon-trust"></use>
                            </svg>
                        </div>
                        <h6 data-v-7d9ce8f6="">Refer Friends</h6>
                        <p data-v-7d9ce8f6="">Share your referral link or code with your friends and social media.</p>
                    </div>
                </div>
                <div data-v-7d9ce8f6="" class="col">
                    <div data-v-7d9ce8f6="" class="mb-5">
                        <div data-v-7d9ce8f6="" class="referral-step">
                            Second
                            <svg data-v-7d9ce8f6="" viewBox="0 0 256 256" class="svg-icon">
                                <use data-v-7d9ce8f6="" xlink:href=""></use>
                            </svg>
                        </div>
                        <h6 data-v-7d9ce8f6="">& Earn MTC</h6>
                        <p data-v-7d9ce8f6="">Earn commission when your friends start trading.</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div data-v-7d9ce8f6="" class="col">
            <div data-v-7d9ce8f6="" class="mb-5">
              
                <h6 data-v-7d9ce8f6=""></h6>
                <p data-v-7d9ce8f6=""></p>
            </div>
        </div>
    </section>
{%include 'footer.html'%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</body>

</html>